
.container{
    display: flex;
    align-content: center;
}
.hoverMe {
    height: 300px;
    width: 300px;
    background-color: red;
    border: 2px black solid;
    margin:auto;

    

}

#reset{
    height:50px;
    width:50px;
    display:block;
    margin:auto;
    border: 1px solid black;
    background-color: chartreuse;
    margin-top:25px;
    text-align:center;

}