.highlight{
    opacity:0.5;
}

div{
    height:300px;
    width:300px;

    border: 1px black solid;
    
}
body{
    display:flex;
}
#up{background-color:red;}
#down{background-color: grey;}
#left{background-color: green;}
#right{background-color:pink;}